body {
    background: linear-gradient(90deg, #1c19e4, #b81edb);
    text-shadow: 1px 1px 1px #333;
    overflow-wrap: break-word;
    
  }


.signIn--text {
    grid-area: singIn; 
    margin-top: 2rem;
}
.form--container { 
    grid-area: formDetail; 
    margin-top: 9rem;
    margin-left: 2.5rem;
    margin-right: 2rem;
}

.signDetail {
    grid-area: signDetail;
    width: 458px;
    font-size: medium;
    font-style: normal;
    margin-top:-3.9rem;
    
}

.grid-container {
    display: grid;
    grid-template-areas:
    'LeftPic singIn singIn formDetail formDetail RightPic'
    'LeftPic signDetail signDetail formDetail formDetail RightPic'
    'LeftPic signDetail signDetail formDetail formDetail RightPic';
    margin-top: 20px;
}
/* 
.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
} */

.pic--right { grid-area: RightPic; 
width: 150px;
/* background-color: rgba(5, 0, 0, 0.8); */
}
.pic--left { grid-area: LeftPic; 
width: 150px;
/* background-color: rgba(10, 0, 0, 0.8); */
}


.signIn--text > h1{
    margin-left: 3rem;
    margin-top: 4rem;
    color: #fbfbfb;
    text-align: center;
    font-size: 3rem;
}

Link{
    margin-left: 3rem;
    margin-top: 4rem;
    color: #fbfbfb;
    text-align: center;
    font-size: 3rem;
}


.signDetail > p{
text-align: left;
font-size: 0.8rem;
}

.btn--signIn {
    margin-top: 2rem;
    margin-left: 1rem;
    font-weight: 200;
    color: dark;
    font-family: inherit;
    background-color: #fbfbfb;
    border-color: #7952b3;
    display: inline-block;
    line-height: 2;
    text-align: center;
    text-decoration: none;
   /*  vertical-align: middle; */
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 5.02rem;
    border-radius: 0.25rem;
    transition: 0.3s ease;
    box-shadow: 2px 2px 7px 1px #666;
}

.btn--signIn:hover {
  background: rgba(253, 253, 253, 0.5);
  transition: 0.3s ease;
}



@media screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-areas:
        'singIn'
        'signDetail '
        'formDetail ';
        margin-top: 20px;
    }

    .signDetail{
        margin-top: 0.9rem;
        margin-left: 4rem;
    }

    .form--container { 
        margin-top: 0.1rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }
    

    .btn--signIn {
        margin-top: 2rem;
        margin-left: 7rem;
    }
  }