.businessCard--content {
 /*  font-family: 'Open Sans', sans-serif; */
  text-decoration: none;
  outline: none;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 350px;
}


.businessCard--content img {
  
  height: 60%;
  width: 100%;
  user-select: none;
  object-fit: contain;
 
  
 
}

#busicard {
	position: relative;
  background: linear-gradient(to top, coral,rgb(235, 182, 163));
  border-radius: 35px;
  min-height: 450px;
  max-width: 300px;
  margin: 40px auto;
}

#busicard h1 {
	color: #FAEAFF;
  font-size: 22px;
  font-weight: 600;
  width: 100%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  margin-top:0.8rem ;
 
}

.user {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
user-select: none;
}

.user img {
  border-radius: 100px;
  width: 160px;
  height: 200px;
  border: 4px solid #FAEAFF;
  margin-top: -20px;
  background: url ("./data/NoImageFound.png");
 
}

.info{
  margin-top: 25%;
}

.info p{
  margin: 0;
}

.website{
  position: absolute;
  margin-top: 5%;
  width: 100%;

}
.info a{ 
  color:rgb(49, 49, 49);
  font-size: 25px;
}

.info li {
  width:300px;
  font-size: 12px;
  display: inline-block;
  line-height: 1.2;
  margin-left: 2.1rem;
  text-shadow: none;
  font-weight: 500;
}



.hrtop {
  display: inline-block;
  background-color: #FAEAFF;
  width: 2px;
  height: 22px;
  margin: -2px auto;
}

.contacts {
  display: flex;
  min-height: 90px;
 
}

.contacts i {
margin: 20px 0;
 }

.contacts a {
  margin: 0 6px;
}

.beerListFromId {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  margin: 3rem 0 0 0;
}

.beerListFromId span {
  position: absolute;
  box-shadow: 0 0 15px 1px #000;
  color: #FAEAFF;
  background-color: #2F4858;
  border-radius: 30px;
  padding: 7px 49px;
  transition: 350ms;
    -webkit-transition: all .3s;
}

.beerListFromId span:hover {
  font-weight: bold;
  color: #2F4858;
  background-color: #FAEAFF;
  padding: 8px 56px;
  transition: 350ms;
    -webkit-transition: all .3s;
    
}

.beerListFromId a {
  position: absolute;
  box-shadow: 0 0 15px 1px #000;
  color: #FAEAFF;
  background-color: #2F4858;
  border-radius: 30px;
  padding: 7px 49px;
  transition: 350ms;
    -webkit-transition: all .3s;
}

.beerListFromId a:hover {
  font-weight: bold;
  color: #2F4858;
  background-color: #FAEAFF;
  padding: 8px 56px;
  transition: 350ms;
    -webkit-transition: all .3s;
    
}