.BrewerAccessReview--container {
  background: rgb(243, 240, 240);
  width: 860px;
  height: 600px;

  overflow-y: auto;
  overflow-x: hidden;

  background: rgba(255, 255, 255, 0.54);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(51px);
  -webkit-backdrop-filter: blur(51px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  
}


.BrewerAccessReview--box {
padding: 10px 16px;
margin: 10px 0 0 60px;
border:solid;

}
.BrewerAccessReview--container .heading {
margin: 60px;
}
.BrewerAccessReview--container .heading h2 {
font-size: 35px;
font-weight: 700;
color: #313e4b;
margin:10px 0 0px -1px;
}
.BrewerAccessReview--container .heading h2 span {
font-weight: 300;
color: coral;
margin: 0;

}

.BrewerAccessReview--container heading p {
font-size: 18px;
line-height: 26px;
margin: 0 0 1rem calc(100% + 1px);
color: #727f8c;

}

.BrewerAccessReview--container  .box {
box-shadow: 0 10px 30px rgba(0, 0, 0, 0.53);
padding: 15px 0 0 15px;
border-radius: 15px;
/* margin-bottom: 40px; */
transition: all 0.4s ease-in-out;
}


.BrewerAccessReview--container .box h3 {
font-size: 18px;
font-weight: 500;
color: #313e4b;
}
.BrewerAccessReview--box:hover {
transform: translateY(-10px);
transition: all 0.4s ease-in-out;
}


.BrewerAccessReview--box{
background: rgba(255, 255, 255, 0.93);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);
text-shadow: none;
}

.BrewerAccessReview--box>h6{
text-align: right;
}

.review---card{
  height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;          
   
    
}

.review---card::-webkit-scrollbar {
  width: 10px;               /* width of the entire scrollbar */
}

.review---card::-webkit-scrollbar-track {
  background: rgb(239, 238, 237);        /* color of the tracking area */
}

.review---card::-webkit-scrollbar-thumb {
  background-color: rgba(255, 166, 0, 0.183);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: 3px solid rgba(255, 166, 0, 0.246);  /* creates padding around scroll thumb */
}

.thinLine---reviewer {
   border-bottom:1px solid rgba(241, 155, 7, 0.385);
    width: 250px;
    padding: 4px;
    margin: 12px;
  }