.breweryInfo--container {
    padding-top: 35px;
    background: #80808059;
    color: aliceblue;
    display: flex;
    margin-left: 2.2rem;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    
}


.breweryInfo--container textarea {
    height: 12em;
}


.breweryInfo--container img {
    height: 50px;
    width: 50px;
    /* border-radius: 50%; */
    display: inline-block;
    margin-bottom: 1.2rem;
 /*    border: solid; */
}

.breweryInfo--container span {
   margin-left: 0.8rem;
   font-size: 18px;
    
 /*    border: solid; */
}