.main_content,
.main_content .card,
.main_content .card .card_header,
.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: -9rem;
    text-shadow: none;
}


.main_content {
    position: relative;
    width: 100%;
    height: 80%;
    margin: 50px auto;
    padding: 50px 0 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.main_content h3 {
    position: absolute;
    left: 190px;
    top: 0;
    color: #f8f9f975;
    font-size: 5.5vw;
    font-weight: 900;
}



.main_content .card {
    width: 320px;
    height: 580px;
    border-radius: 15px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    margin-bottom: 5px;
    margin-top: 0.2px;
}

.main_content .card .card_img {
    margin-top: 0vw;
}

.main_content .card .card_img img {
    width: 160px;
    height: 175px;
    object-fit: contain;
}
.main_content .card .card_header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: rgb(0, 0, 0);
    margin: 25px 0;
}

.main_content .card .card_header h2 {
    padding: 3px;
    font-size: 20px;
    font-weight: 700;
    color: #000;
    text-align: center;
    text-transform:uppercase;
}

.main_content .card .card_header p {
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: rgba(67, 64, 64, 0.934);
    margin: 8px 0;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* number of lines to show */
    -webkit-box-orient: vertical;
    max-width: 240px;
    
   }

.main_content .card .card_header .Beer-Type-Abv {
    font-size: 22px;
    color: #fe8033;
    font-weight: 800;
}

.main_content .card .card_header .Beer-Type-Abv span {
    font-size: 18px;
    display: inline-block;
    border-radius: 45%;
    vertical-align: top;
    padding-left: 1.2px;
}

.main_content .card:hover {
    background-color: #ffffff92;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    cursor: pointer;
  
}

.main_content .card:hover .beer-btn {
    background-color: #fe8033;
    color: #fff;
}

.beer-btn {
    
    width: 180px;
    height: 35px;
    font-size: 16px;
    text-align: center;
    border-radius: 35px;
    background-color: #efeceb;
    text-shadow: none;
    cursor: pointer;
    position: relative;
    flex-direction: row-reverse;
    -webkit-transition: background-color .3s ease;
    transition: background-color .3s ease;
    overflow: hidden;
    margin-bottom: 0.3rem;
    padding-top: 0.2rem;
  
}

.main_content .card_header .beer-btn:hover{
    background-color: #ffffff92;
    color: #2d343e;
    -webkit-transform: scale(0.85);
    transform: scale(0.85);
    cursor: pointer;
}


#title---style>h3{
    position: absolute;
    left: 190px;
    top: 90px;
    color: #f8f9f975;
    font-size: 5.5vw;
    font-weight: 900;
}


.AddBrwerBeer--Btn {
    padding-left: 19px;
    padding-right: 50px;
    top:12px;
    height: 41px;
    background: #e2916c;
    border-radius: 20px;
    position: absolute;
    right: 108px;
    color: #fff;
    font-size: 15px;
    font-size: 1.4rem;
    font-weight: 800;
    z-index: 4;
    display: flex;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
    
}


.addbeer-button {
    top:12px;
    height: 40px;
    width: 40px;
    background: #908165;
    border-radius: 50%;
    position: absolute;
    right: 110px;
    color: #fff;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 500;
    z-index: 5;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.4);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    cursor: pointer;
  }
  
  .addbeer-button.blue {
    background: #42A5F5;
  }
  
  .addbeer-button.blue:hover {
    background: #64B5F6;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
  }