.header {
    font-family: 'Merriweather', sans-serif;
    font-size: 18px;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 500;
    height: 80px;
    padding: 0 14px 14px 14px;
}

#logo--place{
font-size: 20px;
padding: 20px;
text-decoration: none;
font-weight: 700;
}

.header .navbar {
    box-shadow: none !important;
    padding: 0;
}

.header .navbar-brand,
.header .navbar-brand:hover {
    color: #fbfbfb;
    text-align: center;
    font-weight: 100;
    font-size: 20px;
    
}

.header .logo {
    display: inline-block;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.header a:hover {
    text-decoration: none;
    color: rgb(25, 25, 24);
    border-radius: 15px;
}

.header #navbar-toggler {
    border: 4px solid #dbd8d8cf;
    border-radius: 21px;
}

.header .nav-item {
    margin-left: auto;
    background-color: #34394396;
    border-radius: 5px ;
}

.header .nav-link {
    width: 15rem;
    text-align: right;
    padding: .2rem 2rem .2rem 0 !important;
}

.header .nav-link,
.header .nav-item {
    color: rgb(255 255 255);
    z-index: 999;
}

.header .nav-link:hover {
    background: #d3d5d0b1;
    -webkit-transition: all ease 0.7s;
    transition: all ease 0.7s;
    
}


