.header {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    text-transform: uppercase;
    font-weight: 700;
    height: 80px;
    padding: 0 14px 14px 14px;
}

.header .navbar {
    box-shadow: none !important;
    padding: 0;
}

.header .navbar-brand,
.header .navbar-brand:hover {
    color: #fbfbfb;
    text-align: center;
    font-weight: 100;
    font-size: 2.8rem;
}

.header .logo {
    display: inline-block;
    height: 50px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.header a:hover {
    text-decoration: underline;
}

.header .navbar-toggler {
    border: 4px solid #000000cf;
    border-radius: -6.75rem;
}

.header .nav-item {
    margin-left: auto;
    background-color: #141e3096;
}

.header .nav-link {
    width: 20rem;
    text-align: right;
    padding: .2rem 2rem .2rem 0 !important;
}

.header .nav-link,
.header .nav-item {
    color: rgb(255 255 255);
    z-index: 999;
}

.header .nav-link:hover {
    color: rgb(168, 168, 168);
}