.beerInfo--container {
    display: flex;
    color: coral;
    margin-left: 2.2rem;
    background-color: rgba(0, 0, 0, 0.974);
    border-top-left-radius: 5%;
    border-bottom-right-radius: 5%;
    width: 624px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.beerInfo--container{

background: rgba(52, 51, 51, 0.75);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(9.2px);
-webkit-backdrop-filter: blur(9.2px);
border: 1px solid rgba(52, 51, 51, 0.7);
    }

textarea {
    height: 11em;
   
}


.beerInfo--container img {
    height: 50px;
    width: 50px;
    /* border-radius: 50%; */
    display: inline-block;
    margin-bottom: 1.2rem;
 /*    border: solid; */
}

.beerInfo--container span {
   margin-left: 0.8rem;
   font-size: 18px;
    
 /*    border: solid; */
}

/* .beerInfo--container .form-control-plaintext{
    padding: 8px;
color: #050404;
font-weight: 200;
background-color: rgba(240, 255, 255, 0.867);
} */

.beerInfo--container button{
    margin: 1rem 1rem 1rem 8rem;
    width: 150px;
    height: 35px;
    border-radius: 25px;
    color: rgb(248, 247, 247);
    background-color: coral;

}

.beerInfo--container button:hover{
    color: coral;
    background-color: white;

}

.beerInfo--container a {
    width: 0px;
    padding: 0;
}

.beerInfo--container .form-control-beerInfo{
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    outline: none;
    color: #fff  ;
    padding: 4px;
    margin-left: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}

.beerInfo--container .form-control-beerInfo#breweryName{
background: transparent;
color: #fff;
}



