/* Not complete, plus bearing in mind I don't code for a living and had to host all assets on my dropbox :D   */

@import url(https://fonts.googleapis.com/css?family=Fjalla+One);
@import url(https://fonts.googleapis.com/css?family=News+Cycle);

/* Styling  ----------------------- */

.beer-review body {
  background-color: #f5f5f5;

}

.beer-review {  
  margin:10% auto;
  display:block;
  max-width:890px;
  height:600px;
  width:100%;
  overflow-y: auto;
  border-radius: 25px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -o-border-radius: 15px;
  
/* From https://css.glass */
background: rgba(255, 255, 255, 0.89);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
border: 1px solid rgba(255, 255, 255, 0.3);

  text-shadow: none;
  overflow-x: hidden; 
}

.beer-review #product-img{
  float:left;
  text-align:center;
  width:25%;
  height:88%;
  padding:8% 0;
  margin-top: -100px;
  margin-left: 4rem;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#6bfec8), to(#41c8ca));
  background: -webkit-linear-gradient(top, #6bfec8, #41c8ca);
  background: -moz-linear-gradient(top, #6bfec8, #41c8ca);
  background: -ms-linear-gradient(top, #6bfec8, #41c8ca);
  background: -o-linear-gradient(top, #6bfec8, #41c8ca);
  border-radius: 15px 0 0 15px;
  -webkit-border-radius: 15px 0 0 15px;
  -moz-border-radius: 15px 0 0 15px;
  -o-border-radius: 15px 0 0 15px;
  position:relative;
}

.beer-review #product-info{
  padding:5%;
  width:55%;
  float:left;
  height:85%;
}

.beer-review h1,.beer-review h2,.beer-review h3,.beer-review h4{
  font-family: 'Fjalla One', Helvetica, Arial sans-serif;
  font-weight:normal;
  text-transform:uppercase;
}

.beer-review .clearfix-auto .beer-wrapper  h1{
  font-size:41px;
  line-height:41px;
  margin-bottom:8px;
  color:#444;
    
}
.beer-review .clearfix-auto h2{
  font-size:22px;
  line-height:17px;
  margin-bottom:15px;
  color:rgb(128, 128, 128);
  
}

.beer-review .clearfix-auto h3{
  display:inline-block;
  font-size:21px; 
  line-height:21px;
  margin-right:10px;
  color:#444;
  
}

.beer-review h3::before{
  content: "";
}

.beer--type{
  color:#fe6067;
}

/* .rrp{
  text-decoration:line-through;
} */

.beer-review h4{
  color: #000000;
  font-size:18px;
  margin-bottom:15px;
  margin-left: -260px;
}

.beer-review p{
  font-family: 'News Cycle', Helvetica, Arial sans-serif;
  font-size:17px;
  line-height:27px;
  font-weight:bold;
  letter-spacing:1px;
  margin: 0 0 6px -0.6rem;
  text-align: left;
  text-shadow: none;
}

#product-img img.beer{
  position:relative;
  margin-left:-13%;
  display:block;
} 

.beer{
  width:100%;
  margin-top:100px;
}


#product-spec{
  width:70%;
  margin-bottom:16px;
}
/* 
#ratings{
  width:25%;
  text-align:right;
} */

.beer-wrapper{
  float:left;
  display:block;
}

.clearfix{
  clear:both;
}

.clearfix-auto{
  
  width: 300px;
  margin-left: 1rem;
}



/* .beer-review .button{
  font-size:23px; 
  line-height:70px;
  height:70px;
  letter-spacing:1px;
  padding:5px 32px;
  color:#fff;
  font-family: 'Fjalla One', Helvetica, Arial sans-serif;
  font-weight:normal;
  text-transform:uppercase;
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff876a), to(#ff4064));
  background: -webkit-linear-gradient(top, #ff876a, #ff4064);
  background: -moz-linear-gradient(top, #ff876a, #ff4064);
  background: -ms-linear-gradient(top, #ff876a, #ff4064);
  background: -o-linear-gradient(top, #ff876a, #ff4064);
  border-radius: 10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  -o-border-radius:10px;
  -webkit-box-shadow:5px 5px 30px #ed949e;
  -moz-box-shadow:5px 5px 30px #ed949e;
  -o-box-shadow:5px 5px 30px #ed949e;
  box-shadow:5px 5px 30px #ed949e;
  display:inline-block;
} */

/* .beer-review .button:hover{
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#ff876a), to(#db3652));
  background: -webkit-linear-gradient(top, #ff876a, #db3652);
  background: -moz-linear-gradient(top, #ff876a, #db3652);
  background: -ms-linear-gradient(top, #ff876a, #db3652);
  background: -o-linear-gradient(top, #ff876a, #db3652);
} */

/* .shopping-cart{
  margin-right:20px;
  width:32px;
  height:32px;
  vertical-align: middle;
} */

#color1{
  margin-left: 28rem;
  max-width:420px;
  width:90%;
  min-height:70px;
  border-right:2px solid #ededed;
}
#color2{
  margin-left: 2rem;
  color: #ff7f50;
  
}

#color3{
   color: #5079ff;
  
}
/* #color ul li{
  list-style-type:none;

}

/* #size{
  max-width: 60px;
  width: 84%;
  min-height: 70px;
  position: relative;
  padding:0 8%;
  border-right:2px solid #ededed;
} */
/* 
#quantity{
  max-width:80px;
  width:84%;
  min-height:70px;
  position:relative;
  padding:0 8%;
} */

#quantity select,
#size select{
  background:none;
  border: 0 !important;  
	-webkit-appearance: none;  
	-moz-appearance: none; 
	width: 100%; 
	text-indent: 0.01px; 
	text-overflow: ""; 
	padding: 0px;
  font-family: 'Fjalla One', Helvetica, Arial sans-serif;
  font-weight:normal;
  text-transform:uppercase;
  color:#bbbbbb;
  font-size:21px;
}

/* .beer-wrapper span.arr:after {
  content: '\2304';
  color:#bbbbbb;
  position: absolute;
  top: 46%;
  font-size:30px;
  line-height:30px;

} */

#quantity span.arr:after{
  left:44%;
}

#size span.arr:after{
  left:68%;
}

#product-options{
  margin:0 5px 70px -257px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}


.review-rating{
    display: inline-block;
    vertical-align: top;
    width: 10px;
    height: 10px;
    background: url('https://www.dropbox.com/s/9i40vq8v0h2m5i6/stars_flat_less_space.png?raw=1') 0 -26px no-repeat;
}

.user-review{
   display: inline-block;
   vertical-align: top;
   height: 26px;
  background: url('https://www.dropbox.com/s/9i40vq8v0h2m5i6/stars_flat_less_space.png?raw=1') 0 4px no-repeat;
}

.ninety{
  width:90%;
  margin-right:10%;
}

/* Radio Buttons --------------------- */

.beer-review label {
  width: 100px;
  margin-left:0px;
  font-weight: 600;
  font-size: 16px;
}

/* Animations  ----------------------- */

@-webkit-keyframes fadeIn { from { opacity:0; top:-5% } to { opacity:1; top:0%; } }
@-moz-keyframes fadeIn { from { opacity:0; top:-5% } to { opacity:1; top:0%; } }
@keyframes fadeIn { from { opacity:0; top:-5% } to { opacity:1; top:0%;  } }

.beer-review .fade-in {
  opacity:0;  
  -webkit-animation:fadeIn ease-in-out .1s;  
  -moz-animation:fadeIn ease-in-out .1s;
  -o-animation:fadeIn ease-in-out .1s;
  animation:fadeIn ease-in-out .1s;

  -webkit-animation-fill-mode:forwards; 
  -moz-animation-fill-mode:forwards;
  -o-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  -o-animation-duration:1s;
  animation-duration:1s; 
}

.beer-review .reviewRating--card{
display:flex ;
align-items: flex-start;
margin-left: 5px;
width: 300px;
}

.reviewRating--card h4{
font-size: 16px;
margin-top: -1rem;
margin-left: 5rem;
margin-right: 1rem;
content: "-";
}

.reviewPost--contain{
  
}

.review---card{
text-align: left;
margin-left: 40px;


background: rgba(255, 158, 9, 0.02);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11px);
-webkit-backdrop-filter: blur(11px);
border: 1px solid rgba(255, 158, 9, 0.29);

}

.review---card h5{
color:rebeccapurple;
text-align: center;
font-weight: 500;
}
